@model IEnumerable<HomeWork2.Models.Film>

@{
    ViewData["Title"] = "Repertuar";
}

<h1>Oferta filmowa</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Numer
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Bilet normalny
            </th>
            <th>
                Bilet ulgowy
            </th>
            <th>
                Zdjęcie
            </th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model) 
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.normalTicketPrice) zł
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reducedTicketPrice) zł
            </td>
            <td>
                <img class="rounded" src="~/images/@item.image" style="height:12rem; width:8rem" />
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "FilmDetails", new {id = item.id}) 
            </td>
        </tr>
        }
    </tbody>

</table>